<!doctype html>
<html>

    <head>
    <meta charset="utf-8" />
    <link href="blogecrivain.css" rel="stylesheet" />
    <title>Un billet pour l'Alaska</title>
</head>

<body>
    
    <header>
        <h1>Un billet pour l'Alaska</h1>
    </header>
    
    {% for billet in billets %}
    <article>
        <h2>{{billet.BilletTitle}}</h2>
        <p>{{billet.BilletContent}}</p>
        <p class = "date">{{billet.BilletDate}}</p>
    </article>
    {% endfor %}
    
    <footer class="footer">
        Un billet pour l'Alaska - blog de Jean Forteroche
    </footer>
    
</body>
</html>