    {% extends "layout.html.twig" %}

    {% block title %}Home{% endblock %}

    {% block content %}
    {% for billet in billets %}
        <article>
            <h2><a class="billetTitle" href="{{ path('billet', { 'billet_id': billet.BilletId }) }}">{{billet.BilletTitle}} </a></h2>
            <p>{{billet.BilletContent | raw }} </p>
        </article>
    {% endfor %}

    {% endblock %}