body { 
    padding-top: 50px; 
}

h1 {
    text-align : center;
    font-size : 2em;
}

.date {
    
    font-size : 0.8em;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.billetTitle:hover, .billetTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#hiddenrole.form-group {
    visibility : hidden;

}